@media (min-width: 360px) and (max-width: 845px){

/*werkpaginas*/

	.tekstenvak p{
		width: 90%;
	}

	.beyondimg, .multideviceimg{
		width: 70%;
		top: 40em;
		left: 3em;
	}

	.header h2{
		width: 100%;
		display: inline-block;
		left: 0;
	}

	nav ul{
		display: inline-block;
		width: 100%;
		left: 0;
		top: 3.8em;
		display: flex;
		justify-content: center;
	}


	nav ul a{
		display: inline-block;
	}

	figure{
	display: inline-block;
	width: 100%;
}

figure:first-of-type{
	float: left;
	margin-top: 2.5em;
	margin-bottom: 1em;
}

	figure:last-of-type{
	float: left;
	margin-bottom: 2em;
}

}

@media (min-width: 950px) and (max-width: 1100px){

	.werk{
		display: grid;
		width: 95%;
		height: 75%;
		grid-template-columns: repeat(3, 1fr);
  		grid-template-rows: repeat(2, 1fr);
		grid-gap: 1em 1em;
		margin: 0px auto;
		margin-top: 20px;
	}

}

@media (min-width: 550px) and (max-width: 949px){

	.werk{
		display: grid;
		width: 95%;
		height: 100%;
		grid-template-columns: repeat(2, 2fr);
  		grid-template-rows: 3fr;
		grid-gap: 1em 1em;
		margin: 0px auto;
		margin-top: 20px;

	}

	footer{
	background-color: #CADCE5;
	height: 10em;
	width: 100%;
	position: absolute;
	top: 125em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: 3fr;
  padding: 10px;
  width: 90%;
  grid-gap: 1em;
  margin: 13em auto;
}

}

@media (min-width: 375px) and (max-width: 549px){

	.werk{
		display: grid;
		width: 95%;
		height: 100%;
		grid-template-columns: 1fr;
  		grid-template-rows: repeat(2, 1fr);
		grid-gap: 1em 1em;
		margin: 0px auto;
		margin-top: 20px;

	}

	footer{
	background-color: #CADCE5;
	height: 10em;
	width: 100%;
	position: absolute;
	top: 178em;
}

}

@media (min-width: 300px) and (max-width: 1000px){

.achtergrond img{
	visibility: hidden;
}

.informatie h2{
	font-size: 3em;
}

.informatie{
	position: absolute;
	width: 90%;
	left: 1em;
	top: 12em;
	z-index: 30;
}

.informatie p{
	width: 100%;
	font-size: 1em;
}

nav ul li{
	padding: 0 1em;
}

.header{
	width: 100%;
	height: 9em;

}

.paginanummers{
	position: absolute;
	right: 8.5em;
	top: 3em;
	z-index: 30;
	margin-top: 0.5em;
}

.container .worktitel{
	font-family: 'Fraunces', serif;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	font-size: 2.3em;
	text-align: center;
	margin-top: 40px;
}

.beyondimg, .ubicompimg, .passieimg, .sysimg, .ubicompimg, .vidimg, .budgetimg, .pietimg, .songtekstimg{
	width: 80%;
	position: absolute;
	left: 2.2em;
	top: 40em;
}

.cvdocument{
	visibility: hidden;

}

#contactlinkcv{
	top: 41em;
}

.CVlink{
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	position: absolute;
	margin-top: 10em;
	left: 1.3em;
	color: #F4521D;
	text-decoration: underline;
}

@media (min-width: 1400px) and (max-width: 1600px){

.achtergrond img{
	width: 70%;
}

}

@media (min-width: 1601px) and (max-width: 1900px){

.achtergrond img{
	width: 60%;
}

}

@media (min-width: 1901px) and (max-width: 3000px){

.achtergrond img{
	width: 50%;
}
}


@media (min-width: 1384px) and (max-width: 1680px){

	#contactlinkcv{
	top: 60em;
}

}

@media (min-width: 1681px) and (max-width: 2000px){

	#contactlinkcv{
	top: 70em;
}

}

@media (min-width: 2001px) and (max-width: 2300px){

	#contactlinkcv{
	top: 80em;
}

}

@media (min-width: 2301px) and (max-width: 2500px){

	#contactlinkcv{
	top: 90em;
}

}






