@media (min-width: 360px) and (max-width: 845px){

/*werkpaginas*/
	.tekstenvak{
		display: inline-block;
		top: 35em;
	}

	.tekstenvak p{
		width: 80%;
	}

	.detailsvak{
		width: 80%;
		display: inline-block;
		text-align: center;
		left: 2.8em;
		margin: 0 auto;
	}

	.header h2{
		width: 100%;
		display: inline-block;
		left: 0;
	}

	nav ul{
		display: inline-block;
		width: 100%;
		left: 0;
		top: 3.8em;
		display: flex;
		justify-content: center;
	}

	nav ul a{
		display: inline-block;
	}

}

