/* Hele document */

*, *::after, *::before {
	padding: 0;
	margin: 0;
  	box-sizing:border-box;  
}

html{
  position: relative;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body{
	height: 100%;
}

/* Boven gedeelte */
.header{
	width: 100%;
	height: 3.5em;
	position: fixed;
	background-color: transparent;
	-webkit-transition: all ease-out .5s;
  	-moz-transition: all ease-out .5s;
 	-o-transition: all ease-out .5s;
  	transition: all ease-out .5s;
	z-index: 50;

}

.scroll{
	background-color: #CADCE5;
	box-shadow: 2px 2px 10px grey;
}


.header h2{
	position: absolute;
	left: 1em;
	font-family: 'Fraunces', serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.3em;
	text-align: center;
	margin-top: 0.15em;
	color: #142F3E;
}

nav ul{
	position: absolute;
	right: 3.5em;
	top: 0.65em;
	color: #142F3E;
}

nav ul a{
	display: inline;
	font-family: 'Fraunces', serif;
	font-weight: 600;
	font-size: 1.7em;
}

nav ul a:first-of-type{
	margin-right: 2em;
	color: #142F3E;
	text-decoration: none;
}

nav ul a:nth-of-type(2){
	margin-right: 2em;
}

nav ul a:last-of-type{
	color: #142F3E;
	text-decoration: none;
}

/* main / about me  */

.achtergrond{
	position: absolute;
	left: 0;
	z-index: 1;
}

.achtergrond img{
	width: 80%;
}

.informatie h2{
	position: absolute;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 3.5em;
	right: 3em;
	top: 2em;
	z-index: 30;
	color: #142F3E;
	font-weight: 700;
}

.informatie p{
	position: absolute;
	width: 35%;
	font-size: 1.1em;
	font-family: 'Raleway', sans-serif;
	right: 6.3em;
	top: 15em;
	z-index: 30;
	color: #142F3E;
	font-weight: 600;
}

.informatie button{
	position: absolute;
	z-index: 30;
	font-size: 1.3em;
	padding: 1.2em;
	width: 20%;
	border: none;
	border-radius: 0.8em;
	font-family: 'Raleway', sans-serif;
	right: 14.5em;
	top: 27em;
	background-color: #F4521D;
}



/* main / kwaliteiten */

.kwaliteiten{
	position: absolute;
	background-color: #F4BE2B;
	width: 100%;
	height: 18em;
	top: 45em;
	z-index: 30;
}

/* main / werk / desktop */

.container{
	position: absolute;
	width: 100%;
	height: 50em;
	top: 60em;
}

.container .worktitel{
	font-family: 'Fraunces', serif;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	font-size: 2.3em;
	text-align: center;
	margin-top: 10px;
}

#werklink{
	background-color: transparent;
	width: 100%;
	height: 4em;
}


.werk{
	display: grid;
	width: 75%;
	height: 75%;
	grid-template-columns: repeat(3, 1fr);
  	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1em 1em;
	margin: 0px auto;
	margin-top: 20px;
}

.werk-item{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: grey;
	background-blend-mode: multiply;
	background-size: cover;
	color: white;
	background-position: center;
	transition: all ease-in-out 300ms;
}

.werk-item:first-of-type{
	background-image: url(../images/beyond.jpg);
}

.werk-item:nth-of-type(2){
	background-image: url(../images/pietzwart.jpg);
}

.werk-item:nth-of-type(3){
	background-image: url(../images/slaap.jpg);
}

.werk-item:nth-of-type(4){
	background-image: url(../images/csshuis.jpg);
}

.werk-item:nth-of-type(5){
	background-image: url(../images/npd.jpg);
}

.werk-item:nth-of-type(6){
	background-image: url(../images/artmatch.jpg);
}

.werk-item:nth-of-type(7){
	background-image: url(../images/vid.jpg);
}

.werk-item:nth-of-type(8){
	background-image: url(../images/budget.jpg);
}

.werk-item:nth-of-type(9){
	background-image: url(../images/multidevice.jpg);
}

.werk-item:nth-of-type(10){
	background-image: url(../images/lyrics.jpg);
}

.werk-item:nth-of-type(11){
	background-image: url(../images/ubicomp.jpg);
}

.werk-item:nth-of-type(12){
	background-image: url(../images/sys.jpg);
}

.werk-item:nth-of-type(13){
	background-image: url(../images/wijn.jpg);
}

.werk-item:last-of-type{
	background-image: url(../images/beyond.jpg);
}


.werk-item h2, .werk-item h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-align: center;
	position: absolute;
}

.werk-item h2{
	width: 20%;
	margin-bottom: 3em;
	font-size: 2em;
}

.werk div:nth-of-type(3) h2{
	margin-bottom: 0;
}

.werk div:nth-of-type(12) h2{
	margin-bottom: 0;
}


.werk-item h3{
	margin-top: 3em;
}

.werk-item.hide{
	display: none;
}

.werk-item.show{
	display: flex;
	justify-content: center;
	align-items: center;
}

.werk-item:hover{
	background-blend-mode: initial;
	color: transparent;
}

.infolink{
	background-color: #F4521D;
	color: white;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	padding: 0.8em 1.2em;
	margin-top: 14em;
}

.infolink:hover{
	background-color: #F4BBC3;
	color: black;
}

.paginanummers{
	position: absolute;
	right: 10.5em;
	top: 5em;
}

.paginanummers li{
	display: inline;
}

.paginanummers button{
	border: none;
  	outline: none;
  	color: white;
  	padding: 10px 16px;
  	background-color: #F4521D;
  	cursor: pointer;
  	font-size: 1.1em;
}

.paginanummers li:first-of-type{
	margin-right: 1em;
}

.pagenumber1.disabled, .pagenumber2.disabled{
	background-color: #F4BBC3;
	pointer-events: none;
}


/* footer / desktop */

footer{
	background-color: #CADCE5;
	height: 15em;
	width: 100%;
	position: absolute;
	top: 110em;
}




