/* Hele document */

*, *::after, *::before {
	padding: 0;
	margin: 0;
  	box-sizing:border-box;  
}

html {
  position: relative;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body{
	height: 100%;
}

/* Boven gedeelte */
.header{
	width: 100%;
	height: 3.5em;
	position: fixed;
	background-color: transparent;
	-webkit-transition: all ease-out .5s;
  	-moz-transition: all ease-out .5s;
 	-o-transition: all ease-out .5s;
  	transition: all ease-out .5s;
	z-index: 50;

}

.scroll{
	background-color: #CADCE5;
	box-shadow: 2px 2px 10px grey;
}

.header h2{
	position: absolute;
	left: 1em;
	font-family: 'Fraunces', serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.3em;
	text-align: center;
	margin-top: 0.15em;
}

.header h2 a{
	text-decoration: none;
	color: #142F3E;
	cursor: pointer;
}

nav ul{
	position: absolute;
	right: 3.5em;
	top: 0.65em;
	color: #142F3E;
}

nav ul a{
	display: inline;
	font-family: 'Fraunces', serif;
	font-weight: 600;
	font-size: 1.7em;
}

nav ul a:first-of-type{
	margin-right: 2em;
	color: #142F3E;
	text-decoration: none;
}

nav ul a:nth-of-type(2){
	margin-right: 2em;
}

nav ul a:last-of-type{
	color: #142F3E;
	text-decoration: none;
}

header{
	background-color: #CADCE5;
	width: 100%;
	height: 15em;
}

header h1{
	font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 5em;
	font-size: 3em;
}

header h3{
	font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 5em;
	font-size: 1em;
	margin-top: -6.5em;
	color: #F4521D;
}

/* Main gedeelte */
.tekstfotowerk div:first-of-type{
	position: absolute;
	top: 16.5em;
	left: 2em;
}

.tekstfotowerk div:first-of-type a{
	font-family: 'Raleway', sans-serif;
	color: black;
	text-decoration: none;
	font-size: 1em;
	background-color: #e6c23a;
	padding: 0.5em 1em;
	border-radius: 0.8em;
	cursor: pointer;
	box-shadow: 5px 5px 5px grey;
}

.tekstfotowerk div:first-of-type a:hover{
	box-shadow: 2px 2px 5px grey inset;
	background-color: #F4521D;
}

.tekstenvak, .tekstenvaksrp, .tekstenvakgrapedistrict{
	display: inline;
	float: left;
	position: absolute;
	top: 20em;
	left: 3em;
}

.tekstenvak h2, .tekstenvaksrp h2, .tekstenvakgrapedistrict h2{
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0.5em;
	color: #F4521D;
}

.tekstenvak p{
	font-family: 'Raleway', sans-serif;
	width: 50%;
}

.tekstenvaksrp p, .tekstenvakgrapedistrict p{
	font-family: 'Raleway', sans-serif;
	width: 90%;
}

.tekstenvak a{
	color: #F4521D;
}

.tekstenvak p:nth-of-type(2), .tekstenvak p:nth-of-type(3){
	margin-top: 1em;
}

.spanbeyond, .spanmultidevice, .spannpd, .spanubicomp{
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em;
	color: #F4521D;
	margin-top: 1.5em;
}

.beyondimg, .ubicompimg, .passieimg, .sysimg, .ubicompimg, .vidimg, .budgetimg, .pietimg, .songtekstimg{
	width: 35%;
	position: absolute;
	right: 3em;
	top: 18em;
}

.sysimg img, .ubicompimg img, .vidimg img, .pietimg img, .songtekstimg img{
	width: 100%;
}

.beyondimg img{
	width: 100%;
	border: 6px solid #CADCE5;
	padding: 0 0 0 1em;
}

.multideviceimg{
	width: 45%;
	position: absolute;
	right: 3em;
	top: 18em;
}

.multideviceimg img{
	width: 100%;
}

.titellink{
	margin-top: 1em;
}

.sys{
	width: 40%;
	margin-top: 1em;
}

.artikel{
	width: 25%;
	margin-top: -3em;
}


.andy{
	width: 80%;
}

.srphuis{
	margin-top: 3em;
	width: 90%;
}

figure{
	display: inline;
	width: 50%;
}

figure:first-of-type{
	float: left;
	margin-top: 2.5em;
	margin-bottom: 2em;
}

figure:last-of-type{
	float: right;
	margin-bottom: 2em;
}

figcaption{
	font-family: 'Raleway', sans-serif;
	font-size: 1.15em;
}

.lytimg{
	width: 80%;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 5em;
}

.linkkunstenaar, .linkkunstliefhebber, .linkprototype, .linkdesignrationale{
	font-weight: 700;
}

.linkkunstliefhebber, .linkdesignrationale{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 90%;
  grid-gap: 1em;
  margin: 13em auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 12em;
}

.grid-item:first-of-type{
	background-image: url(../images/grapedistrict/herfstfoto.jpg);
	background-size: cover;
	background-position: center;
}

.grid-item:nth-of-type(2){
	background-image: url(../images/grapedistrict/kerstfoto.jpg);
	background-size: cover;
	background-position: center;
}

.grid-item:nth-of-type(3){
	background-image: url(../images/grapedistrict/limitededition2.jpg);
	background-size: cover;
	background-position: center;
}

.grid-item:nth-of-type(4){
	background-image: url(../images/grapedistrict/Manifest.jpg);
	background-size: cover;
	background-position: center;
}

.grid-item:nth-of-type(5){
	background-image: url(../images/grapedistrict/sfeerfoto1.jpg);
	background-size: cover;
	background-position: center;
}

.grid-item:nth-of-type(6){
	background-image: url(../images/grapedistrict/sfeerfoto2.jpg);
	background-size: cover;
	background-position: center;
}

.grid-item:nth-of-type(7){
	background-image: url(../images/grapedistrict/sfeerfoto3.jpg);
	background-size: cover;
	background-position: center;
}

.grid-item:nth-of-type(8){
	background-image: url(../images/grapedistrict/sfeerfoto4.jpg);
	background-size: cover;
	background-position: center;
}

.grid-item:nth-of-type(9){
	background-image: url(../images/grapedistrict/sfeerfoto5.jpg);
	background-size: cover;
	background-position: center;
}

.grid-item:last-of-type{
	background-image: url(../images/grapedistrict/villavitas.jpg);
	background-size: cover;
	background-position: center;
}


