/* Hele document */

*, *::after, *::before {
	padding: 0;
	margin: 0;
  	box-sizing:border-box;  
}

html, body {
  position: relative;
}

body{
	background-color: #F0E6DA;
	height: 100%;
}

/* Boven gedeelte */
header{
		position: absolute;
		width: 100%;
		background-color: #F0E6DA;
		position: fixed;
		z-index: 50;
}

header h2{
	font-family: 'Fraunces', serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.3em;
	text-align: center;
	margin-top: 0.5em;
	color: #CCA085;
}

nav ul{
	margin-top: 0.5em;
	text-align: center;
	color: #CCA085;
}

nav ul li{
	display: inline;
	font-family: 'Fraunces', serif;
	font-weight: 600;
	font-size: 1.7em;
}

nav ul li:first-of-type{
	margin-right: 2em;
}

/* Main gedeelte */

.tekstfotowerk div:first-of-type{
	position: absolute;
	top: 6em;
	width: 100%;
}

.tekstfotowerk div:first-of-type h1{
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.tekstfotowerk div:nth-of-type(2){
	position: absolute;
	top: 6.3em;
	left: 3.2em;
}

.tekstfotowerk div:nth-of-type(2) a{
	font-family: 'Raleway', sans-serif;
	color: black;
	text-decoration: none;
	font-size: 1.2em;
}

.tekstenvak{
	position: absolute;
	top: 12em;
	left: 3em;
}

.tekstenvak h2{
	font-family: 'Fraunces', serif;
	margin-bottom: 0.5em;
}

.tekstenvak p{
	font-family: 'Raleway', sans-serif;
	width: 50%;
}

.detailsvak{
	position: absolute;
	top: 6.5em;
	right: 3em;
	background-color: #B1BDB9;
	width: 30%;
	padding: 1em;
	border-radius: 1em;
}

.detailsvak h2{
	font-family: 'Fraunces', serif;
	text-align: center;
	margin-bottom: 0.5em;
}

.detailsvak h3{
	font-family: 'Raleway', sans-serif;
}



