@media (min-width: 414px) and (max-width: 736px){

header{
	background-color: red;
	width: 100%;
}

nav{
	visibility: hidden;
}

nav ul li{
	visibility: hidden;
}

nav ul li:first-of-type{
	visibility: hidden;
}

.info{
	visibility: hidden;}

.info h2{
	visibility: hidden;

}

.info h2 span{
	visibility: hidden;
}

.info p{
	visibility: hidden;
}

.info button{
	visibility: hidden;
}

.info button h3{
	visibility: hidden;
}

.fotomezelf{
	visibility: hidden;
}

.fotomezelf img{
	visibility: hidden;

}


}