/* Hele document */

*, *::after, *::before {
	padding: 0;
	margin: 0;
  	box-sizing:border-box;  
}

html, body {
  position: relative;
}

body{
	background-color: #F5EEE4;
}

/* Boven gedeelte */

header h2{
	font-family: 'Lora', serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.3em;
	text-align: center;
	margin-top: 0.5em;
}

nav ul{
	margin-top: 0.5em;
	text-align: center;
}

nav ul li{
	display: inline;
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 1.7em;
}

nav ul li:first-of-type{
	margin-right: 2em;
}

/* main / about me */

.info{
	position: absolute;
	background-color: #B9CBCB;
	width: 80%;
	height: 20em;
	top: 17.5em;
	left: 2.5em;
	z-index: 10;
	box-shadow: 5px 5px 10px grey;
}

.info h2{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 2.1em;
	font-weight: 700;
	position:absolute;
	top: -1.15em;
	left: 0.2em;
	color: white;
	text-shadow: 1px 1px 5px black;

}

.info h2 span{
	color: black;
	text-shadow: none;
}

.info p{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	position: absolute;
	top: 4em;
	left: 1.1em;
	width: 90%;
	font-size: 0.9em;
}

.fotomezelf{
	position: absolute;
	width: 45%;
	height: 9em;
	left: 11.5em;
	top: 7.5em;
	z-index: 1;
	box-shadow: 5px 5px 10px grey;
}

.fotomezelf img{
	width: 100%;
	filter:brightness(120%);

}

