/* Hele document */

*, *::after, *::before {
	padding: 0;
	margin: 0;
  	box-sizing:border-box;  
}

html, body {
  position: relative;
}

body{
	background-color: #F5EEE4;
	height: 100%;
}

/* Boven gedeelte / mobiel */

header h2{
	font-family: 'Lora', serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.3em;
	text-align: center;
	margin-top: 0.5em;
}

nav ul{
	margin-top: 0.5em;
	text-align: center;
}

nav ul li{
	display: inline;
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 1.7em;
}

nav ul li:first-of-type{
	margin-right: 2em;
}

/* main / about me / mobiel */

.info{
	position: absolute;
	background-color: #B9CBCB;
	width: 80%;
	height: 20em;
	top: 17.5em;
	left: 2.5em;
	z-index: 10;
	box-shadow: 5px 5px 10px grey;
}

.info h2{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 2.1em;
	font-weight: 700;
	position:absolute;
	top: -1.15em;
	left: 0.2em;
	color: white;
	text-shadow: 1px 1px 5px black;

}

.info h2 span{
	color: black;
	text-shadow: none;
}

.info p{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	position: absolute;
	top: 4em;
	left: 1.1em;
	width: 90%;
	font-size: 0.9em;
}

.fotomezelf{
	position: absolute;
	width: 45%;
	height: 9em;
	left: 9.8em;
	top: 7.5em;
	z-index: 1;
	box-shadow: 5px 5px 10px grey;
}

.fotomezelf img{
	width: 100%;
	filter:brightness(120%);

}

/* main / kwaliteiten */

.kwaliteiten{
	position: absolute;
	background-color: #B9CBCB;
	width: 100%;
	height: 15em;
	top: 40em;
}

/* main / werk / desktop */

.container{
	position: absolute;
	background-color: #F5EEE4;
	width: 100%;
	height: 50em;
	top: 60em;
}

.container h2{
	font-family: 'Lora', serif;
	text-transform: uppercase;
	font-size: 2.3em;
	text-align: center;
	margin-top: 10px;
}

.werk{
	display: grid;
	width: 90%;
	height: 90%;
	grid-template-columns: repeat(3, 1fr);
  	grid-template-rows: repeat(2, 1fr);
	grid-gap: 15px;
	margin: 0px auto;
	margin-top: 20px;
}

.werk-item{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: grey;
	background-blend-mode: multiply;
	background-image: url(images/placeholder.png);
	background-size: cover;
	color: white;
	background-position: center;
	transition: all ease-in-out 300ms;
}

.werk-item.hide{
	display: none;
}

.werk-item.show{
	display: flex;
	justify-content: center;
	align-items: center;
}

.werk-item:hover{
	background-blend-mode: initial;
	color: black;
}

.paginanummers{
	position: absolute;
	right: 5em;
	margin-top: 1em;
}

.paginanummers li{
	display: inline;
}

.paginanummers button{
	border: none;
  	outline: none;
  	padding: 10px 16px;
  	background-color: #B9CBCB;
  	cursor: pointer;
  	font-size: 1.1em;
}

.paginanummers li:first-of-type{
	margin-right: 1em;
}

.pagenumber1.disabled, .pagenumber2.disabled{
	background-color: #E8E8E8;
	pointer-events: none;
}


/* footer / desktop */

footer{
	background-color: black;
	height: 20em;
	width: 100%;
	position: absolute;
	top: 120em;
}




